{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}">
            {% if type == 'success' %}
                <i class="fa fa-thumbs-up"></i>
            {% elseif type == 'info' %}
                <i class="fa fa-info-circle"></i>
            {% elseif type == 'warning' %}
                <i class="fa fa-warning"></i>
            {% elseif type == 'error' %}
                <i class="fa fa-times-circle"></i>
            {% endif %}
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
