<div role="navigation" class="navbar-header pull-right">
    <ul class="nav ace-nav">
        {#
        <li>
            <a href="http://www.mpiage.eu">
                MPI_Age main Website
            </a>
        </li>
        {% if app.user %}
            <li>
                <a href="#">
                    User: {{ app.user.name }}
                </a>
            </li>
        {% endif %}
        #}
    </ul>
</div>