<div id="sidebar" class="sidebar responsive">
    <ul class="nav nav-list">
        <li>
            <a href="{{ url('openview_app_homepage') }}">
                <i class="menu-icon fa fa-home"></i> Home
            </a>
        </li>
    </ul>
</div>
