<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Applicazione{% endblock %}</title>
        
        <!-- vendor css -->
        {% stylesheets 
            'vendor/ace-ui/css/bootstrap.min.css' 
            'vendor/ace-ui/css/font-awesome.min.css'
            'vendor/ace-ui/css/ace.min.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <!-- custom css -->
        {% stylesheets 
            'assets/less/theme.less'
            filter='cssrewrite,?yui_css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        
        <!-- favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    
    <body class="no-skin">
        {% block body %}
        
        {% block navbar %}
            <div id="navbar" class="navbar navbar-default">
                <script type="text/javascript">
                        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
                </script>

                <div id="navbar-container" class="navbar-container">
                    {# pulsante per espandere il menu, se vedo tramite telefonino #}
                    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                            <span class="sr-only">{{ 'msg.ui.togglesidebar' | trans }}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>

                    <div class="navbar-header pull-left" id="logo">
                        <a href="{{ url('openview_app_homepage') }}" class="navbar-brand">
                            {#<img src="{{ asset('assets/img/mpi_age_logo.png') }}" alt="{{ 'msg.app.name' | trans }}" />#}
                        </a>
                    </div>

                    {# Barra di navigazione in alto #}
                    {% include '_navbar.html.twig' %}
                </div><!-- /.container -->
            </div>
        {% endblock navbar %}
            
        <div class="main-container">
            <script type="text/javascript">
                try{ace.settings.check('main-container' , 'fixed')}catch(e){}
            </script>
                
            
            {% block sidebar %}
                {% include '::_sidebar.html.twig' %}
            {% endblock sidebar %}

            <div class="main-content">
                {% block breadcrumbs_container %}
                {% endblock breadcrumbs_container %}

                <div class="page-content">
                    {% include '::_flashbag.html.twig' %}

                    {% block content %}
                        {# main content #}
                    {% endblock content %}
                </div>
            </div>


            {% block footer %}
                {# footer: copyright and istitutional links #}
            {% endblock footer %}
            
        </div>
        {% endblock body%}
        
        <!-- vendor javascript -->
        {% javascripts 
                'vendor/ace-ui/js/jquery.min.js'
                'vendor/ace-ui/js/jquery-ui.min.js'
                'vendor/ace-ui/js/bootstrap.min.js'
                'vendor/ace-ui/js/jquery.dataTables.min.js'
                'vendor/ace-ui/js/ace.min.js'
                'vendor/ace-ui/js/ace-elements.min.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
