{% extends "::base.html.twig" %}

{% block title %}BundleDev{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <h2>Dynamic Document (outdated)</h2>
            <ul>
                <li><a href="{{ path('openview_dyndoc_index') }}">Documents</a></li>
                <li><a href="{{ path('openview_dyndoctemplate_index') }}">Template</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-md-4">
            <h2>Dynamic Document 2</h2>
            <ul>

            </ul>
        </div>
        <div class="col-xs-12 col-md-4">
            <h2>Prove FOSRestBundle</h2>
            <ul>
                
            </ul>
        </div>
    </div>
{% endblock %}